
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
    font-family: 'Comfortaa', cursive;
}

header {
    background-color: #ffe4c4;
    padding: 2em;
}

.nav-link {
    color: #8e7f6d;
    font-size: 1.2em;
}   

.sale {
    height: 150px;
    justify-content: center;
    display: flex;
    height: 287px;
}

footer {
    background-color: #ffe4c4;
    padding: 2em;
    font-style: italic;
    text-align: center;
}

footer p {
    margin: 0;
}
.col {
    display: flex;
    margin: 15px 0 15px 0;
}
.saleprice {
    text-decoration: line-through;
    margin: 0 8px 0 0;
}
@media (max-width: 768px) {
    .img-fluid {
        height: 70%;
    }
    .col-md-4 {
        width: 170px;
        height: 385px;
    }
    .col {
        justify-content: center;
    }
}
hr {
    margin: 0;
}
.dropdown-item:active {
    color: #0d6efd;
}
.col .card {
    width: 18rem;
}