@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
    font-family: 'Comfortaa', cursive;
}

header {
    background-color: #ffe4c4;
    padding: 2em;
}

.nav-link {
    color: #8e7f6d;
    font-size: 1.2em;
}

footer {
    background-color: #ffe4c4;
    padding: 2em;
    font-style: italic;
    text-align: center;
}

footer p {
    margin: 0;
}

hr {
    margin: 0;
}
h2 {
    text-align: center;
}
.card mb-3 {
    height: 287px;
}
.col {
    display: flex;
    margin: 0 10px 15px 10px;
}
@media (max-width: 768px) {
    .img-fluid {
        height: 70%;
    }
    .col-md-4 {
        width: 170px;
        height: 385px;
    }
    .col {
        justify-content: center;
    }
}
.blackfriday {
    margin: 0 0 10px 0;
    justify-content: center;
    display: flex;
}